/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

input {
  width: 100%;
}
.p-card {

    background-color: #fffff7 !important;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18) !important;
    position: static !important;

}

.gradiente{

    background: -webkit-linear-gradient(#c7fffd, #ffc7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3, h2 {
  margin: 0;
}

